
body {
  margin: 0 80px !important;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-top: 16px;
}

.logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;

}

.navbar-content a {
  float: right;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.hello {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

