
body {
  margin: 0 180px !important;
  background-color: #f9f9f9 !important;
}

.navbar {
  margin-top: 32px;
}

.logo a {
  text-decoration: none;
  color: black;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 0.1em;
  font-size: 22px;
}

.nav-link {
  font-family: 'Gilroy', sans-serif;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.hello {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: 40px;
}

.description {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0 200px;
}

.projects {
  
  width: 100%;
  margin-top: 64px;
  margin-bottom: 24px;
}

.projects-background {
  background-color: #ffffff;
  width: 100%;
  min-height: 400px;
  margin-top: 64px;
}

.project-image {
  width: 375px;
  height: auto;
  margin: 24px 60px 24px 60px;
}

.project-title {
  margin: 140px 60px 0 24px;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  color: black;
}

.project-description {
  margin: 24px 60px 0px 24px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  font-size: 14px;
}

.button {
  font-family: 'Gilroy', sans-serif;
  color:black;
  margin: 24px 60px 60px 24px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  transition-duration: 0.4s;
}

.button:hover {
  background-color:black !important;
  color: white;
}

.social-media {
  margin-top: 100px;
}

.social-title {
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  text-align: center;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.fa {
  width: 32px;
  height: 32px;
}