@import url('http://fonts.cdnfonts.com/css/gilroy-bold');


body {
  margin: 0 80px !important;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-top: 16px;
}

.logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;

}

.nav-link1 {
  float: right;
  text-decoration: none;
  color: #E99557;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: 3px solid #E99557;
}

.nav-link2 {
  text-decoration: none;
  color: grey;
  padding-left: 28px;
}

.hello {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  letter-spacing: 1px;
}

